// Custom styles.
@media (max-width: 767px) {
  .content-wrap {
    padding: 20px 0;
  }
  .headband {
    height: 0;
  }
  .site-subtitle {
    display: none;
  }
  .site-meta {
    padding: 10px 0;
  }
  .site-nav-toggle {
    left: auto;
    right: 20px;
  }
}
